=@{
    ViewData["Title"] = "Home Page";
}

@*<header class="masthead">
    <div class="container-fluid text-white">
        <div class="row g-0">
            <div class="text-center" id="intro">
            <h1 class="display-5">Your digital presence is your calling card</h1>
            <br />
            <h4>Proudly Servicing Central Florida</h4>
            <br />
            <p>Great digital media brings prospective renters and buyers directly to you. We understand this, which is why we use the highest quality cameras, retouching, and marketing-informed content for every project — no matter what. Led by award-winning digital media specialist Heaven Keller, Heaven's Lens finds success by helping you sell your listings more quickly, and for a higher price tag.</p>
            <br />
            <button type="button" class="btn btn-light btn-lg">Book Now</button>
            <button type="button" class="btn btn-light btn-lg">Pricing & Services</button>
        </div>
        </div>
    </div>
</header>
*@

<div class="jumbotron jumbotron-fluid">

    <picture>
        <source media="(min-width:800px)" srcset="./img/landscape_drove_shot.jpg">
        <img src="./img/landscape_drove_shot.jpg" alt="Landscape Drone Photo" class="jumbotron__background img-fluid">
    </picture>

    <div class="container text-white text-center">
        <h1 class="display-4">Your digital presence is your calling card</h1>
        <p class="lead">Proudly Servicing Central Florida</p>
        <p>Great digital media brings prospective renters and buyers directly to you. We understand this, which is why we use the highest quality cameras, retouching, and marketing-informed content for every project — no matter what. Led by award-winning digital media specialist Heaven Keller, Heaven's Lens finds success by helping you sell your listings more quickly, and for a higher price tag.</p>
        <a class="btn btn-light btn-md" href="#" role="button">Book Now</a>
        <a class="btn btn-light btn-md" href="#" role="button">Pricing & Services</a>
    </div>
    <!-- /.container -->
</div>

<br />

<div class="container" id="page-cards">
    <div id="link-cards">
        <div class="row">
            <div class="card-group">
                <div class="col-md-3">
                    <div class="card"> <!--width 280 height 260 for each image-->
                        <img src="./img/just_sold.jpg" class="card-img-top" alt="Just Sold Picture">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Graphic Design</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://static.wixstatic.com/media/e54408_a891dcc8f0d7450ebd7d03c99d7cfd02~mv2.jpg/v1/fill/w_280,h_260,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/e54408_a891dcc8f0d7450ebd7d03c99d7cfd02~mv2.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Photography</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                    <img src="https://static.wixstatic.com/media/nsplsh_41516c2d4a31396f635745~mv2_d_3648_5472_s_4_2.jpg/v1/fill/w_280,h_260,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/nsplsh_41516c2d4a31396f635745~mv2_d_3648_5472_s_4_2.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                        <h5 class="card-title">Videography</h5>
                        <button type="button" class="btn btn-outline-light">View More</button>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://static.wixstatic.com/media/e54408_f0baa458324042b89ffeb3f77eed4dca~mv2.jpg/v1/fill/w_280,h_260,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/e54408_f0baa458324042b89ffeb3f77eed4dca~mv2.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Aerial Media</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<br />

<section class="align">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="./img/s.Drone_Work_Graded-3.jpg" alt="s.Drone_Work_Graded-3.jpg" fetchpriority="high">
        </div>
        <div class="col-md-6">
                <h1>Our Guarauntee</h1>
                <br />
                <h2>Quality Without Compromise</h2>
                <p>We strive to capture the true essence of every property.  Our visual materials deliver exceptional results, elevating our clients' listings and amplifying marketing efforts.</p>
                <br />
                <h2>Fast Turnaround</h2>
                <p>We understand the value of your time, which is why we guarantee prompt delivery of all results, ensuring 1-2 day turnaround times. Your satisfaction is our top priority.</p>
                <br />
                <h2>Tailored Solutions, Always</h2>
                <p>From thoughtfully curated photography to social media graphics, we offer a range of services to meet your needs. Allow us to simplify the process for you.</p>
                <br />
                <button type="button" class="btn btn-light btn-lg">Book Now</button>
         </div>
    </div>
</section>

<br />

<section id="social-media-statistics">
    <div class="container text-center">
        <h1 id="section-title">Did you know?</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1,200%</h3>
                    <p class="card-text">more shares are generated by social media videos compared to images and text combined</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">97%</h3>
                    <p class="card-text">of buyers use the internet to search for a home</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">50%</h3>
                    <p class="card-text">of agents say social media ads are the most effective form of advertising</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">44%</h3>
                    <p class="card-text">of properties featuring professional photography are sold at a higher price</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<section id="faq">
    <div class="container text-center">
        <h1 id="section-header">Frequently Asked Questions</h1>
    </div>
    <div class="container text-center">
        <div class="row row-cols-3">
            <div class="col">
                <h4></h4>

            </div>
            <div class="col">
                Column

            </div>
            <div class="col">
                Column

            </div>
            <div class="col">
                Column

            </div>
            <div class="col">
                Column

            </div>
            <div class="col">
                Column

            </div>
        </div>
    </div>
</section>

<br />

<section id="about-me">

</section>