@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">

    <picture>
        <source media="(min-width:800px)" srcset="./img/landscape_drone_shot.jpg">
        <img class="jumbotron__background img-fluid" src="./img/landscape_drove_shot.jpg" alt="Landscape Drone Photo">
    </picture>

    <div class="container text-white text-center">
        <h1 class="banner-title">Your Digital Presence Is Your Calling Card</h1>
        <p class="banner-text">Great digital media brings prospective renters and buyers directly to you. We understand this, which is why we use the highest quality cameras, retouching, and marketing-informed content for every project — no matter what. Led by award-winning digital media specialist Heaven Keller, Heaven's Lens finds success by helping you sell your listings more quickly, and for a higher price tag.</p>
        <div class="">
            <a class="btn btn-light btn-md banner-button" href="#" role="button">Book Now</a>
            <a class="btn btn-light btn-md banner-button" href="#" role="button">Pricing & Services</a>
        </div>
        
    </div>
    <!-- /.container -->
</div>

<br />

<div class="container" id="page-cards">
    <div id="link-cards">
        <div class="row">
            <div class="card-group">
                <div class="col-md-3">
                    <div class="card">
                        <img id="service-card-image" src="./img/just_sold.jpg" class="card-img-top" alt="Just Sold Picture">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Graphic Design</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="service-card-image" src="./img/thumbnail3.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Photography</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="service-card-image" src="./img/thumbnail2.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Videography</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img id="service-card-image" src="./img/thumbnail1.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center custom-link-card-bg text-white">
                            <h5 class="card-title">Aerial Media</h5>
                            <button type="button" class="btn btn-outline-light">View More</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<br />

<section class="align">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="./img/drone-home-picture.jpg" alt="s.Drone_Work_Graded-3.jpg" fetchpriority="high">
        </div>
        <div class="col-md-6 container-fluid">
                <h1>Our Guarauntee</h1>
                <br />
                <h2>Quality Without Compromise</h2>
                <p>We strive to capture the true essence of every property.  Our visual materials deliver exceptional results, elevating our clients' listings and amplifying marketing efforts.</p>
                <br />
                <h2>Fast Turnaround</h2>
                <p>We understand the value of your time, which is why we guarantee prompt delivery of all results, ensuring 1-2 day turnaround times. Your satisfaction is our top priority.</p>
                <br />
                <h2>Tailored Solutions, Always</h2>
                <p>From thoughtfully curated photography to social media graphics, we offer a range of services to meet your needs. Allow us to simplify the process for you.</p>
                <br />
                <button type="button" class="btn btn-light btn-lg">Book Now</button>
         </div>
    </div>
</section>

<br />

<section id="social-media-statistics">
    <div class="container text-center">
        <h1 id="section-header">Did you know?</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1,200%</h3>
                    <p class="card-text">more shares are generated by social media videos compared to images and text combined</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">97%</h3>
                    <p class="card-text">of buyers use the internet to search for a home</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">50%</h3>
                    <p class="card-text">of agents say social media ads are the most effective form of advertising</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">44%</h3>
                    <p class="card-text">of properties featuring professional photography are sold at a higher price</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<section id="faq">
    <div class="container text-center">
        <h1 id="section-header">Frequently Asked Questions</h1>
    </div>
    <div class="container text-center">
        <div class="row row-cols-3">
            <div class="col">
                <h4 id="faq-title">What is your cancellation policy?</h4>
                <p>We understand that life can be unpredictable. If you need to make any changes to your photoshoot schedule, simply let us know before 5:00 PM the day before your shoot. If you need to cancel or reschedule after this time, a fee of 25% (excluding any discounts or travel fees) will apply.</p>
            </div>
            <div class="col">
                <h4 id="faq-title">Do I need to be present during the shoot?</h4>
                <p class="faq-text">With our streamlined process, you don't even need to be on the property during the photoshoot. Simply provide us with access and we'll handle the rest. If you'd like to include any special requests or instructions, you can easily add them to your online order before the photoshoot.</p>
            </div>
            <div class="col">
                <h4 id="faq-title">How should I prepare for our session?</h4>
                <p class="faq-text">We want the property to look its best just as much as you do! We send you a pre-shoot checklist that provides helpful tips for you and your homeowner.</p>
            </div>
            <div class="col">
                <h4 id="faq-title">How long will the photo session take?</h4>
                <p class="faq-text">The time needed for a property photoshoot varies based on its size. Generally, plan for 1 hour, but larger properties may require more time. The exact time will be discussed at booking.</p>
            </div>
            <div class="col">
                <h4 id="faq-title">What type of equipment do you use?</h4>
                <p class="faq-text">We use the Sony A7Riii, a commercial-grade full-frame digital HDR camera with high resolution and lenses and durable tripods that allow us to capture any building from any perspective. Aerial media is captured with the DJI Mavic 2 Zoom, and is shot in 4k at 60fps.</p>
            </div>
            <div class="col">
                <h4 id="faq-title">What editing can I expect?</h4>
                <p class="faq-text">With careful multi-exposure blending in Photoshop, we try to keep the original colors and add blue sky to all windows and exterior photos. Additional editing services are available for an extra $15 per photo. These include object removal, grass patching, fireplace fire addition, TV graphics, and more.</p>
            </div>
        </div>
    </div>
</section>

<br />

<section id="about-me">
    <div class="about-me-bg container-fluid text-center">
        <div class="container-fluid about-me">
            <div class="row">
                <div class="col about-section">
                    <h4 id="faq-title">About Heaven's Lens</h4>
                    <p>
                        Heaven Keller is a commercial media specialist that focuses on a range of residential real estate media services.
                    </p>
                    <p>
                        Originally from Cocoa Beach, Florida, Heaven showed an interest in art at the age of 12. She spent several years making short films, documentaries, and promotional content for businesses before attending University of Central Florida with a festival-won scholarship.
                    </p>
                    <p>
                        Heaven's personal work is deeply connected to the beauty of nature and self-actualization.  Having discovered the awe-inspiring potential of the digital medium, Heaven has made it her commitment to bring impactful ideas and services to the forefront of the digital marketing landscape.
                    </p>
                </div>
                <div class="col">
                    <img class="bio-picture img-fluid" id="heaven-image" src="./img/heaven-desk-picture.jpg" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>